# This project (git clone)
export LIMA_WORKDIR=/path/to/this/folder/kind-on-lima-public

# Lima CLI
# if you manage lima CLI installation with brew
# export LIMACTL_BIN=limactl
# export LIMA_BIN=lima
# if you manage lima CLI installation with the makefile target
export LIMACTL_BIN=${LIMA_WORKDIR}/bin/limactl
export LIMA_BIN=${LIMA_WORKDIR}/bin/lima

# LIMA and Docker
# MacOS < 13
# export LIMA_INSTANCE=docker
# MacOS >= 13
export LIMA_INSTANCE=vz
# Where to store the VM data like OCI image archives, etc.
export LIMA_DATA_DIR=/opt/lima
export DOCKER_HOST=unix://$HOME/docker.sock


# KinD
#export KIND_NODE_VERSION=v1.24.0
export KIND_NODE_VERSION=v1.23.4
#export KIND_NODE_VERSION=v1.19.7


# Registry mirrors
#export REGISTRY_IMAGE_TAG="registry:2"
export REGISTRY_IMAGE_TAG="distribution/distribution:2.8.1"
export DOCKERIO_CACHE_NAME='registry-dockerio'
export QUAYIO_CACHE_NAME='registry-quayio'
export GCRIO_CACHE_NAME='registry-gcrio'
export USDOCKERPKGDEV_CACHE_NAME='registry-us-docker-pkg-dev'
export DOCKERIO_CACHE_DIR=${LIMA_DATA_DIR}/docker-registry-dockerio
export QUAYIO_CACHE_DIR=${LIMA_DATA_DIR}/docker-registry-quayio
export GCRIO_CACHE_DIR=${LIMA_DATA_DIR}/docker-registry-gcrio
export USDOCKERPKGDEV_CACHE_DIR=${LIMA_DATA_DIR}/docker-registry-us-docker.pkg.dev
export DOCKERIO_CACHE_PORT='5030'
export QUAYIO_CACHE_PORT='5010'
export GCRIO_CACHE_PORT='5020'
export USDOCKERPKGDEV_CACHE_PORT='5040'