## This project (git clone)
export LIMA_WORKDIR=/path/to/this/folder/kind-on-lima-public
export LIMA_HOME="/Users/user/.lima"

## Lima CLI
## if you manage lima CLI installation with brew
# export LIMACTL_BIN=limactl
# export LIMA_BIN=lima
## if you manage lima CLI installation with the makefile target
export LIMACTL_BIN=${LIMA_WORKDIR}/bin/limactl
export LIMA_BIN=${LIMA_WORKDIR}/bin/lima

## LIMA
## MacOS < 13
# export LIMA_INSTANCE=docker
## MacOS >= 13
export LIMA_INSTANCE=vz
## Where to store the VM data like OCI image archives, etc.
export LIMA_DATA_DIR=/opt/lima

## Docker daemon
export DOCKER_HOST=unix://$HOME/docker.sock

# MetalLB
export METALLB_VERSION="v0.13.9"

# Cilium
export CILIUM_VERSION="v1.13.0"

## KinD
#export KIND_NODE_VERSION=v1.23.4
# export KIND_NODE_VERSION=v1.19.7
#export KIND_NODE_VERSION="v1.25.3"
export KIND_NODE_VERSION="v1.27.3"

## Registry mirrors
export REGISTRY_IMAGE_TAG="distribution/distribution:2.8.3"

export LOCALHOST_CACHE_NAME='kind-registry'
export QUAYIO_CACHE_NAME='registry-quayio'
export GCRIO_CACHE_NAME='registry-gcrio'
export DOCKERIO_CACHE_NAME='registry-dockerio'
export USDOCKERPKGDEV_CACHE_NAME='registry-us-docker-pkg-dev'
export USCENTRAL1DOCKERPKGDEV_CACHE_NAME='registry-us-central1-docker-pkg-dev'

export LOCALHOST_CACHE_DIR=${LIMA_DATA_DIR}/docker-registry-localhost
export QUAYIO_CACHE_DIR=${LIMA_DATA_DIR}/docker-registry-quayio
export GCRIO_CACHE_DIR=${LIMA_DATA_DIR}/docker-registry-gcrio
export DOCKERIO_CACHE_DIR=${LIMA_DATA_DIR}/docker-registry-dockerio
export USDOCKERPKGDEV_CACHE_DIR=${LIMA_DATA_DIR}/docker-registry-us-docker.pkg.dev
export USCENTRAL1DOCKERPKGDEV_CACHE_DIR=${LIMA_DATA_DIR}/docker-registry-us-central1-docker.pkg.dev

export LOCALHOST_CACHE_PORT='5000'
export QUAYIO_CACHE_PORT='5010'
export GCRIO_CACHE_PORT='5020'
export DOCKERIO_CACHE_PORT='5030'
export USDOCKERPKGDEV_CACHE_PORT='5040'
export USCENTRAL1DOCKERPKGDEV_CACHE_PORT='5050'

export LOCALHOST_REMOTE_URL='http://localhost:5000'
export QUAYIO_REMOTE_URL='https://quay.io'
export GCRIO_REMOTE_URL='https://gcr.io'
export DOCKERIO_REMOTE_URL='https://registry-1.docker.io'
export USDOCKERPKGDEV_REMOTE_URL='https://us-docker.pkg.dev'
export USCENTRAL1DOCKERPKGDEV_REMOTE_URL='https://us-central1-docker.pkg.dev'

export LOCALHOST_LOCAL_URL_ALIAS='kind-registry'
export QUAYIO_LOCAL_URL_ALIAS='quay.io'
export GCRIO_LOCAL_URL_ALIAS='gcr.io'
export DOCKERIO_LOCAL_URL_ALIAS='docker.io'
export USDOCKERPKGDEV_LOCAL_URL_ALIAS='us-docker.pkg.dev'
export USCENTRAL1DOCKERPKGDEV_LOCAL_URL_ALIAS='us-central1-docker.pkg.dev'


