export REGISTRIES_ROOT_DIR=/opt/lima
export DOCKERIO_CACHE_DIR=${REGISTRIES_ROOT_DIR}/docker-registry-dockerio
export QUAYIO_CACHE_DIR=${REGISTRIES_ROOT_DIR}/docker-registry-quayio
export GCRIO_CACHE_DIR=${REGISTRIES_ROOT_DIR}/docker-registry-gcrio
export DOCKER_HOST=unix://$HOME/docker.sock
export LIMA_INSTANCE=docker
export LIMA_WORKDIR=/path/to/this/folder/kind-on-lima-public